@use "./variables" as var;

.Navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 50px;

	& .nav-logo {
		cursor: pointer;

		&:hover svg path,
		&:active svg path {
			fill: var.$color-soft-red;
		}
	}

	& .nav-menu {
		display: flex;
		gap: 30px;

		@media screen and (max-width: var.$breakpoint) {
			display: none;
		}

		& .menu {
			color: var.$color-dark-grayish-blue;
			cursor: pointer;
			font-weight: 700;

			&:hover,
			&:active {
				color: var.$color-soft-red;
			}
		}
	}

	& .nav-burger-open {
		cursor: pointer;
		display: none;

		@media screen and (max-width: var.$breakpoint) {
			display: block;
		}
	}

	& .menu-cover {
		position: fixed;
		transform: translateX(-50%);
		top: 0;
		left: 50%;
		width: 100vw;
		height: 100%;
		background-color: rgba(var.$color-black, .6);
		z-index: 2;
		display: none;

		&.show {
			@media screen and (max-width: var.$breakpoint) {
				display: block;
			}
		}

		& .menu-container {
			position: relative;
			float: right;
			background-color: var.$color-off-white;
			width: 75vw;
			height: 100%;
			padding: 30px;

			& .nav-burger-close {
				cursor: pointer;
				position: absolute;
				right: 20px;
				top: 40px;
			}

			& .menu-wrapper{
				margin-top: 100px;
				display: flex;
				flex-direction: column;
				gap: 20px;

				& .mobile-menu {
					color: var.$color-very-dark-blue;
					font-weight: 700;
				}
			}

		}
	}
}