@use "./styles/variables" as var;

.App {
	padding: 50px 100px;
	width: 100%;
	max-width: 100vw;
	height: auto;
	min-height: 100vh;

	@media screen and (max-width: var.$breakpoint) {
		padding: 30px 20px;
	}
}